:root {
  --primary-color: #0072f5;
  --secondary-color: #3F51B5;
  --heading: #BBBCCD;
}


:root {
  --aries-gradient: linear-gradient(45deg, #FF0000, #FFD700);
  /* Red to Gold */
  --taurus-gradient: linear-gradient(45deg, #008000, #FFC0CB);
  /* Green to Pink */
  --gemini-gradient: linear-gradient(45deg, #FFFF00, #90EE90);
  /* Yellow to Light Green */
  --cancer-gradient: linear-gradient(45deg, #C0C0C0, #FFFFFF);
  /* Silver to White */
  --leo-gradient: linear-gradient(45deg, #FFD700, #FFA500);
  /* Gold to Orange */
  --virgo-gradient: linear-gradient(45deg, #000080, #808080);
  /* Navy Blue to Gray */
  --libra-gradient: linear-gradient(45deg, #87CEEB, #FFC0CB);
  /* Pastel Blue to Pink */
  --scorpio-gradient: linear-gradient(45deg, #800000, #000000);
  /* Burgundy to Black */
  --sagittarius-gradient: linear-gradient(45deg, #800080, #0000CD);
  /* Purple to Dark Blue */
  --capricorn-gradient: linear-gradient(45deg, #8B4513, #000000);
  /* Brown to Black */
  --aquarius-gradient: linear-gradient(45deg, #00CED1, #20B2AA);
  /* Turquoise to Aqua Blue */
  --pisces-gradient: linear-gradient(45deg, #2E8B57, #9370DB);
  /* Sea Green to Lavender */
}


/* @import url('https://fonts.googleapis.com/css2?family=Romanesco&display=swap'); */


/* ===================================================== */
html,
body {
  padding: 0;
  margin: 0;


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.image {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dropdownLocation {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #f1f3f5;
  color: gray;
  margin-bottom: 10px;
  width: 100%;
}

.dropdownLocationBox {
  background-color: #f1f3f5;
  border-radius: 8px;
  /* padding: 5px; */
  text-align: left;
  margin-top: -2.4%;
  margin-inline-start: 0em;
}

.dropdownlocationboxhide {
  /* display: none;  */
  padding-inline-start: 0px;
  /* padding:50px */
}

.dropdownLocationBox>li {
  list-style: none;
  color: gray;
  padding: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the selected option */
option:checked {
  background-color: #eaf2f8;
  color: red;
  padding: 500px;
}

/* Style the other options */
option {
  background-color: #fff;
  color: #333;
  padding: 500px;
}

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  /* background-color: greenyellow; */
  /* background: linear-gradient(63deg, #152248 24.63%, #251B58 52.61%, #331947 65.32%, #361A3D 77.5%); */
  background: linear-gradient(63deg, #c33764 24.63%, #1d2671 52.61%);

  min-height: 100vh;

  padding: 10px;
}






.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-style {
  background: var(--sagittarius-gradient);
  padding: 23% 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* max-width: 80vw; */
  max-height: 80vh;
}


/* -- TYPOGRAPGIES --------------------  */
body h1,
h2,
h3,
p {
  color: var(--heading);
  font-family: 'Poppins';

}

/* -- LAYOUTs --------------------  */

.userInfoSection {
  padding: 5% 4%;
  background: transparent;
  display: flex;
  justify-content: space-between;
}




/* == Utilities =================================== */
.centerText {
  text-align: center;
}

.mt {
  margin-top: 5px;
}

.mb-2 {
  /* margin-bottom: 4%; */
}



/* == Typography =================================== */



.p {

  color: whitesmoke;
  font-size: .8rem;
  font-weight: bold;
}

.h3 {
  color: whitesmoke;
  font-size: 1rem;
}








.categoryCard {
  background-color: #242538;
  box-shadow: 0px 4px 4px 0px black;
  /* padding: 4.0% 3.0% 0% 4.0%; */
  border-radius: 10%;
  width: 22.5%;

  /* height: 15vh; */


}

.categoryCard p {
  color: white;
  font-size: 12px;
  /* font-weight: bolder; */

}








.search-container {
  position: relative;
}

input[type="text"] {
  padding: 15px;
  font-size: 16px;
  border: none;
  /* border-bottom: 2px solid #3498db; */
  border-radius: 100px;
  outline: none;
  width: 100%;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  box-shadow: 0px 2px 2.5px 0px rgba(255, 255, 255, 0.306);
}

input[type="text"]::placeholder {
  color: whitesmoke;
}

input[type="text"]:focus {
  border-bottom: 5px solid #2ecc71;
}

button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #3498db;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button i {
  margin-right: 4px;
}










.eventCard {
  background-color: #242538;
  box-shadow: 0px 4px 4px 0px black;
  /* padding: 4.0% 3.0% 0% 4.0%; */
  border-radius: 15px;
  height: 120px;
  width: 90%;
  margin-top: 8%;
}

.planetInfoCard {
  background-color: #242538;
  box-shadow: 0px 4px 4px 0px black;
  /* padding: 4.0% 3.0% 0% 4.0%; */
  border-radius: 15px;
  height: 120px;
  width: 40%;
  margin-top: 8%;


}

.planetImgDiv {
  position: relative;
  bottom: 16%;
  left: 41%;
}


.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

.modal-content {
  background: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  border-radius: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
















.planetLabel {
  font-weight: bolder;
  font-size: 14px;
}



/* == @media_Queries =================================== */

/* -- MOBILE -------------  */
@media only screen and (max-width: 420px) {
  .h1Responsive {
    /* font-size: 1.5rem; */
    font-size: 1.4rem;
    /* color: red; */

  }

  .h2Responsive {
    font-size: 1.125rem;

  }

  .h3Responsive {
    font-size: 1rem;

  }

  .pResponsive {
    font-size: 0.8rem;

  }
}


/* -- DESKTOP -------------  */

@media only screen and (min-width: 420px) {
  .categoryCard {
    width: 20%;
    /* display: none; */
  }


  .mainContainer {
    width: 95vw;


  }
}


.mainContainer {
  background: var(--capricorn-gradient);

  /* padding: 0.618%; */
}

.kona-card-container {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  /* background: rgba(255, 0, 0, 0.1); */

  justify-content: space-around;
  padding: 10px;
}

.kona-card {
  /* background-color: greenyellow; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  width: 40%;
  /* Adjust as needed */
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-radius: 8px;
  height: 250px;
}

.planet-card-container {
  border-radius: 10px;
  background: #242644;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
}

.planet-card-container {
  width: 330px;
  height: 78px;
  border-radius: 16px;
  background: linear-gradient(90deg, #373E6A 0.28%, #51395D 99.79%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.53);
  margin-top: 10px;
}

.planet-card-house-lordship-mini-card {
  width: 72px;
  height: 55px;
  border-radius: 13px;
  border: 1px solid rgba(255, 250, 250, 0.00);
  background: rgba(217, 217, 217, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
}

.kona-lord-card {
  /* background-color: greenyellow; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  width: 40%;
  /* Adjust as needed */
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.43);
  border-radius: 8px;
  height: 250px;
  /* Set the width of each column */
  /* You can adjust the width as needed, and consider adding some margin or padding */
}

.planet-detail-card {
  display: flex;
  /* justify-content: space-between; */
  border-radius: 16px;
  background: linear-gradient(90deg, #373E6A 0.28%, #51395D 99.79%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.53);

  box-sizing: border-box;
  /* margin-bottom: 20px; */
  border-radius: 16px;
  padding: 5px 35px;
  /* height: 250px; */
}